@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.lilita-one-regular {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  padding: 5px;
  background: #fff;
}

h1,
h3 {
  text-align: center;
  font-family: "Lilita One", sans-serif;
}

h2 {
  text-align: center;
  font-family: sans-serif;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background: #f89d14d7;
}

.header h1 {
  font-size: 50px;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #fff;
  border-radius: 15px;
  border: 2px solid #e99638;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #1a0505;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bolder;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #f89d14d7;
  color: #fff;
}

a {
  text-decoration: none;
  color: #1a0505;
}

a:hover {
 
  color: #fff;
}
.row {
  display: flex;
  flex-wrap: wrap;


}
.leftcolumn, .middlecolumn, .rightcolumn {
  overflow: hidden;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  flex: 2;
  width: 65%;
  padding: 10px;
  margin-left: 5px;
}

.middlecolumn {
  flex: 2;
  width: auto;
  /* Ajusta a largura da coluna do meio */
  padding: 10px;
}

/* Right column */
.rightcolumn {
  flex: 1;
  width: 25%;
  /* Ajusta a largura da coluna direita */
  background-color: #fff;
  padding: 10px;
  /* Ajuste o padding se necessário */
  margin-left: 5px;

}

.contato, #redes {
  display: flex ;
  justify-content: space-around;
  gap: 10;
  
}

.bloco {
  background-color: #fff;
  padding: 12px;
  border-radius: 5px;
}

.imagemfull {
  display: flex;
  justify-content: center;
}

.bolo {
  width: 100%;
  height: 400PX;
  padding: 0px;
  transition: transform 0.4s ease;
  border-radius: 4%;
  border: 3px solid #e99638;

}

.pessoal {
  margin-top: 30px;
  width: 800px;
  
}

.postimgs {
  width: 100%;
  border-radius: 10px;
  border: 3px solid #e99638;
}

#foto {
  width: 100%;
  border: 3px solid #e99638;
  border-radius: 50%;
}

.icon {
  height: 40px;
}

/* Add a card effect for articles */
.card {
  background-color: #e99638;
  padding: 20px;
  margin-top: 10px;
  margin-right: 20px;
  border: 2px solid #e99638;
  border-radius: 15px;
}

.a, .b {
  min-height: 50%;
  max-height: 50%;
}

.d {
  margin: 10px 160px;
  background-color: #e9963857;
}

.card a:hover img {
  transform: scale(1.1);

}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  font-family: 'lato-thin', sans-serif;
  padding: 5px;
  text-align: center;
  background: #e9963857;
  margin-top: 20px;
  border-radius: 15px;
  border: 2px solid #e99638;

}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  
  }

  .leftcolumn,
  .rightcolumn,
  .middlecolumn {
    width: 100%;
    padding: 0;
  }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }

  .bolo {
    width: 100%;
    height: 100PX;
    padding: 10px;
  }
}